.calculator {
    padding: 2rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 4rem);
}

.output {
    background-color: rgba(0, 0, 0, 0.75);
    padding: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    word-break: break-all;
    word-wrap: break-word;
    grid-column: 1 / -1;
}

.output .previous-operand {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.75);
}
.output .current-operand {
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
}

.span-two {
    grid-column: span 2;
}

.calculator > button {
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid white;
}
.calculator > button:hover,
.calculator > button:focus {
    background-color: rgba(255, 255, 255, 0.95);
}
